.property_table {
    margin: 10px;
    display:table;
    position: relative;
    width: 100%;
}

.property_table_head {
    display: table-header-group;
    font-weight: bold;
    z-index:1;
  }

  .table_row {
    display: table-row;
  }

.table_data,
.table_head {
  display: table-cell;
  padding: 8px 10px;
  white-space:nowrap; 
  border-bottom: 0.2px solid #fff;
  border-right: 0.2px solid #fff;
}

.table_head{
    position: sticky;
    background-color: #202932;
    color: #fff;
    top: 0;
  }


.table_row:nth-child(even) .table_data {
    background: #ecebeb;
  }
  .table_row:nth-child(odd) .table_data{
    background: #fff;
  }

  .property_table_body {
    display: table-row-group;
  }

  @media screen and (max-width: 650px) {
    .property_table {
      border: 0;
    }
    .property_table .table_header ,.property_table .table_footer{
      display: none;
    }
    .property_table .table_row {
      margin-bottom: 10px;
      display: block;
      border-bottom: 2px solid #ddd;
    }
    .property_table .table_data ,.property_table {
      display: block;
      text-align: right;
      font-size: 13px;
      border-bottom: 1px dotted #ccc;
      border-left: 1px solid #ddd;
    }
    .property_table .table_data:last-child {
      border-bottom: 0;
    }
    .property_table .table_data:before,.property_table{
      content: attr(data-label);
      float: left;
      text-transform: uppercase;
      font-weight: bold;
    }
    .table_row:nth-child(even) .table_data {
    background: #fff;
    }
  }
